# Abaqus files
*.abq
*.odb
*.lck
*.sim
*.com
*.dat
*.mdl
*.msg
*.pac
*.prt
*.sel
*.sta
*.stt
output/*
slurm-*.out
*.src
*.exception
*.log
*.env
__pycache__/
*.res
*.cid
*.simlog

# NASMAT files
*.so
*.MAC
*.mac
*.out
*.OUT
**/pynasmat/

# FreeCAD files
*.FCBak
*.FCStd

# Micro FANS files
fenics-fans-scripts/output/*
micro-fans-bar-sphere/sphere*.h5
micro-fans-bar-sphere/micro-manager-pyfans-config-*.json
micro-fans-bar-voro/voro*.h5
micro-fans-bar-voro/micro-manager-pyfans-config-*.json
micro-fans-notch-sphere/sphere*.h5
micro-fans-notch-sphere/micro-manager-pyfans-config-*.json
micro-fans-notch-voro/voro*.h5
micro-fans-notch-voro/micro-manager-pyfans-config-*.json
