# Abaqus files
*.abq
*.odb
*.lck
*.sim
*.com
*.dat
*.mdl
*.msg
*.pac
*.prt
*.sel
*.sta
*.stt
output/*
slurm-*.out
*.src
*.exception
*.log
*.env
__pycache__/
*.res
*.cid
*.simlog

# NASMAT files
*.so
*.MAC
*.mac
*.out
*.OUT

# FreeCAD files
*.FCBak
*.FCStd
